First chapter

In [1]:
'hello'

'hello'

In [3]:
"world"

'world'

In [4]:
'this is also a string'

'this is also a string'

In [5]:
'I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-5-0b29964ddaa6>, line 1)

In [6]:
" I'm going on a run"

" I'm going on a run"

In [7]:
print("hello")

hello

In [11]:
"hello world one"
"hello world two"

'hello world two'

In [10]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [12]:
print('hello world')

hello world

In [13]:
print('hello \n world')

hello
 world

In [14]:
print('hello \nworld')

hello
world

In [15]:
print('hello \tworld')

hello 	world

In [16]:
len('hello')

5

In [17]:
len('I am')

4

In [26]:
Second chapter

SyntaxError: invalid syntax (<ipython-input-26-e2649248a98b>, line 1)

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [5]:
mystring[9]

'l'

In [6]:
mystring[-2]

'l'

In [7]:
mystring

'Hello World'

In [14]:
mystring = 'abcdefghijk'

In [15]:
mystring

'abcdefghijk'

In [16]:
mystring[2]

'c'

In [17]:
mystring[2:]

'cdefghijk'

In [18]:
mystring[:3]

'abc'

It's confussing that you whant from 0 to 3 but doesn't show the letter d, that's because it's takes from 0 to 3 without taking the 3ยบ position

In [19]:
mystring[3:6]

'def'

In [20]:
mystring[1:3]

'bc'

In [21]:
mystring[::]

'abcdefghijk'

In [22]:
mystring[::2]

'acegik'

If I use mystring[::] is the same that writing mystring, usually people use that expression for show the string in x jumps, I mean, if I use mystring[::2] that mean that it's gonna show the string but in jumps of 2, as we can see at the step before

In [23]:
mystring[::3]

'adgj'

In [24]:
mystring[2:7:2]

'ceg'

In [25]:
mystring[::-1]

'kjihgfedcba'

If I use a negative limit -1, it's gonna show the reverse string

Third chapter

If you write a string='Sam' and you want to change the 'S' for a 'P' you can't change it like this -> string[0] = 'P', because it's gonna give you an error, so you have to create a new string

In [28]:
string = 'Sam'

In [29]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

In [30]:
string[1:]

'am'

In [31]:
newstring = string[1:]

In [32]:
newstring

'am'

In [33]:
'P' + newstring

'Pam'

So, in this way we are doing a concatenation of string

In [37]:
X = 'Hello World'

In [38]:
X = X + "it is beautiful outside!"

'Hello Worldit is beautiful outside!'

In [39]:
X = X + " it is beautiful outside!"

'Hello World it is beautiful outside!'

You also can create a string that's just a letter and multiplicate for a x number, so, in this way, the one letter string pass to be a x letters string

In [40]:
letter = 'a'

In [41]:
letter

'a'

In [42]:
letter * 10

'aaaaaaaaaa'

In [43]:
2 + 3

5

In [44]:
'2' + '3'

'23'

It is not the same when you make 2 + 3 as a sum number and when you do '2' + '3', in this case, the result it's gonna be a concatenation of string and the result it's '23'

In [45]:
X = 'Hello World'

In [46]:
X.upper()

'HELLO WORLD'

In [47]:
X

'Hello World'

If you write a . after a variable, you can watch the differents functions that are asociated to the variable type. If you don't do a reassigned like X = X.upper(), the string it's not going to change, so, if you just do X.upper(), then you still have your original string at X

In [49]:
X.split()

['Hello', 'World']

In [50]:
x = 'this is a string'

In [51]:
x.split()

['this', 'is', 'a', 'string']

The split() function, takes the words of the string and create a list bassed on the white spaces, also you can use for eliminate a letter in all of the words

In [52]:
x.split('i')

['th', 's ', 's a str', 'ng']

In [53]:
print('hello')

hello

Four chapter

In [54]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [55]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [56]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [57]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [58]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [59]:
print('The {} {} {}'.format('fox'))

IndexError: Replacement index 1 out of range for positional args tuple

In [60]:
print('The {0} {0} {0}'.format('fox'))

The fox fox fox

In [61]:
result = 100/777

In [62]:
result

0.1287001287001287

In [63]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [64]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [65]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [66]:
name = "Jose"

In [67]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [68]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [69]:
name = "Sam"
age = 3

In [72]:
print(f'{name} is {age} years old.')

Sam is 3 years old.